@using static SiGEv.Models.Enums.Enums
@model SiGEv.Models.ViewModels.EventFormViewModel
@{
	 ViewData["Title"] = "Comprar";
}

<h6>Comprar Ingresso</h6>
<h1>@Html.DisplayFor(model=>model.Event.Title)</h1>

<div class="container p-0">
	<div class="row align-items-start">
		<div class="col-8">
			<div class="card" >
			  <ul class="list-group list-group-flush">

				<li class="list-group-item">
					<h5>Detalhes do Evento</h5>
					<dl class="row">
						<dt class="col-sm-4">
							@Html.DisplayNameFor(model=>model.Event.Date)
						</dt>
						<dd class="col-sm-8">
							@Html.DisplayFor(model=>model.Event.Date)
						</dd>
						<dt class="col-sm-4">
							@Html.DisplayNameFor(model=>model.Event.Type)
						</dt>
						<dd class="col-sm-8">
							@Html.DisplayFor(model=>model.Event.Type)
						</dd>
						<dt class="col-sm-4">
							@Html.DisplayNameFor(model=>model.Venue.Adress)
						</dt>
						<dd class="col-sm-8">
							@Html.DisplayFor(model=>model.Venue.Adress)
						</dd>
					</dl>
				</li>

				<li class="list-group-item">
					<form asp-action="Buy">
						<div>
							<h5>Nome e Documento</h5>
							<div class="input-group mb-3">
								<span class="input-group-text" id="clientName">Nome Completo</span>
								<input type="text" class="form-control" placeholder="" aria-label="Clientname" aria-describedby="clientName">
							</div>
							<div class="input-group mb-3">
								<label class="input-group-text" for="inputGroupSelect01">Documento</label>
								<select class="form-select" id="inputGroupSelect01">
									<option selected>Selecione...</option>
									<option value="1">RG</option>
									<option value="2">CPF</option>
								</select>
								<input type="text" class="form-control" placeholder="" aria-label="Clientdocument" aria-describedby="Clientdocument">
							</div>
						</div>
						<hr/>
						<div class="container">
							<div class="row">
								<div class="form-group col-6 pl-0 m-0">
									<h5>Seção</h5>
									<div class="input-group mb-3">
										<label class="control-label"></label>
										<select  class="form-control" asp-items="@(new SelectList(Model.Sections, "Id", "Id"))"></select>
									</div>
								</div>
								<div class="form-group col-6 pr-0 m-0">
									<h5>Quantidade de Ingressos</h5>
									<div class="input-group mb-3">
									  <span class="input-group-text" id="quantityTickets">Ingressos</span>
									  <input onchange="valorTotal()" id="qtd_tickets" type="number" class="form-control" placeholder="1" min="1" max="@Model.Venue.TotalSeats" aria-label="Quantidade de Ingressos" aria-describedby="quantityTickets">
									</div>
								</div>
							</div>
						</div>
						<hr/>
						<div class="form-group" id="paymentMethod">
							<h5>Método de Pagamento</h5>
							<div class="form-check form-check-inline">
							  <input class="form-check-input" type="radio" name="paymentMethod" id="paymentMethodMoney" value="money" checked>
							  <label class="form-check-label" for="paymentMethodMoney">Dinheiro</label>
							</div>
							<div class="form-check form-check-inline">
							  <input class="form-check-input" type="radio" name="paymentMethod" id="paymentMethodCredit" value="credit">
							  <label class="form-check-label" for="paymentMethodCredit">Cartão de Crédito</label>
							</div>
							<div class="form-check form-check-inline">
							  <input class="form-check-input" type="radio" name="paymentMethod" id="paymentMethodDebit" value="debit">
							  <label class="form-check-label" for="paymentMethodDebit">Cartão de Débito</label>
							</div>
						</div>
						<div class="form-group d-none" id="parcelas">
							<h5>Parcelas</h5>
							<div class="input-group mb-3">
								<label class="control-label"></label>
								<select asp-items="Html.GetEnumSelectList<BillType>()" class="form-control selectedParcelas"></select>
							</div>
						</div>
					</form>
				</li>
			</ul>

			  <div class="card-footer">
				<div class="d-flex justify-content-end">
					<div>
						<h6>Valor da Compra</h6>
						<p class="m-0" id="ticket_value">@Html.DisplayFor(model=>model.Sections.FirstOrDefault().CommonPrice)</p>
					</div>
				</div>
			  </div>
			</div>
		</div>

		<div class="col-4">
			<div class="card">
				<div class="card-header">
					Detalhes da Compra
				</div>
				<div class="card-body">
					<h6>Evento</h6>
					<p>@Model.Event.Title</p>

					<h6>Número do Protocolo</h6>
					<p>@SiGEv.Utils.StringProtocol.RandomString()</p>

					<h6>Total da Compra</h6>
					<small class="text-muted">Valor acrescido da taxa de serviço de 5%</small>
					<p id="valw_rate"></p>
					

					<h6>Metodo de Pagamento selecionado</h6>
					<small class="text-muted d-none" id="detailsParcelas">Parcelado em X vezes</small>
					<p id="selectedPaymentMethod">Dinheiro</p>

					<h6>Data da Compra</h6>
					<p id="buy_date" ></p>

					<button type="button" class="btn btn-primary">Confirmar Compra</button>
					<a class="btn btn-outline-danger" asp-area="" asp-controller="Events" asp-action="Index">Cancelar</a>
				 </div>
				 <div class="card-footer text-muted">
					Após a compra não é possível fazer o cancelamento.
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var paymentMethod = document.getElementById('paymentMethod');
	if (paymentMethod) {
	paymentMethod.addEventListener('change', function () {
		var radios = document.getElementsByName("paymentMethod");
		var selectedPaymentMethod = document.getElementById("selectedPaymentMethod");
		for (var i = 0; i < radios.length; i++) {
			if (radios[i].checked) {
				if (i == 0) selectedPaymentMethod.innerHTML = "Dinheiro";
				if (i == 1) selectedPaymentMethod.innerHTML = "Cartão de Crédito";
				if (i == 2) selectedPaymentMethod.innerHTML = "Cartão de Débito";
			}
		}
	});

	paymentMethod.addEventListener('change', function () {
		var radios = document.getElementsByName("paymentMethod");
		var parcelas = document.getElementById("parcelas");
		var detailsParcelas = document.getElementById("detailsParcelas");
		radios.forEach(r => {
			if (r.checked && r.id == "paymentMethodCredit") {
				parcelas.classList.remove("d-none");
				detailsParcelas.classList.remove("d-none");
			}
			if (r.checked && r.id != "paymentMethodCredit") {
				parcelas.classList.add("d-none");
				detailsParcelas.classList.add("d-none");
			}
		})

	});
}

var valorTaxado = document.getElementById("valw_rate");

var valorCompra = document.getElementById("ticket_value");//Valor do bilhete
var valorBilhete = parseFloat(valorCompra.innerText);;
var qtdTickets;
var totalCompra;

function valorTotal(){
	qtdTickets = parseInt(document.getElementById("qtd_tickets").value);

	console.log(valorBilhete)

	totalCompra = 0;

	totalCompra = qtdTickets * valorBilhete;
	valorCompra.innerText = `${totalCompra}`;

	var total = totalCompra + (totalCompra * 0.05);
	valorTaxado.innerText = `${total}`
}


var dataCompra = document.getElementById("buy_date")

var date = new Date()
var today = `${date.getDate()}/${date.getMonth()+1}/${date.getFullYear()}`;
dataCompra.innerText = `${today}`;

</script>