@model SiGEv.Models.ViewModels.EventFormViewModel
@{
	 ViewData["Title"] = "Comprar";
}

<h6>Comprar Ingresso</h6>
<h1>@Html.DisplayFor(model=>model.Event.Title)</h1>

<div class="container p-0">
	<div class="row align-items-start">
		<div class="col-8">
			<div class="card" >
			  <ul class="list-group list-group-flush">

				<li class="list-group-item">
					<h5>Detalhes do Evento</h5>
					<dl class="row">
						<dt class="col-sm-4">
							@Html.DisplayNameFor(model=>model.Event.Date)
						</dt>
						<dd class="col-sm-8">
							@Html.DisplayFor(model=>model.Event.Date)
						</dd>
						<dt class="col-sm-4">
							@Html.DisplayNameFor(model=>model.Event.Type)
						</dt>
						<dd class="col-sm-8">
							@Html.DisplayFor(model=>model.Event.Type)
						</dd>
						<dt class="col-sm-4">
							@Html.DisplayNameFor(model=>model.Venue.Adress)
						</dt>
						<dd class="col-sm-8">
							@Html.DisplayFor(model=>model.Venue.Adress)
						</dd>
					</dl>
				</li>

				<li class="list-group-item">
					<form asp-action="Buy">
						<div class="form-group">
							<h5>Seção</h5>
							<div class="input-group mb-3">
							  <span></span>
							  <select></select>
							</div>
						</div>
						<div class="form-group">
							<h5>Quantidade de Ingressos</h5>
							<div class="input-group mb-3">
							  <span class="input-group-text" id="quantityTickets">Ingressos</span>
							  <input type="number" class="form-control" placeholder="1" min="1" max="@Model.Venue.TotalSeats" aria-label="Quantidade de Ingressos" aria-describedby="quantityTickets">
							</div>
						</div>
						<div class="form-group">
							<h5>Metodo de Pagamento</h5>
							<div class="form-check form-check-inline">
							  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="credit">
							  <label class="form-check-label" for="inlineRadio1">Cartão de Crédito</label>
							</div>
							<div class="form-check form-check-inline">
							  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="debit">
							  <label class="form-check-label" for="inlineRadio2">Cartão de Débito</label>
							</div>
							<div class="form-check form-check-inline">
							  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="money">
							  <label class="form-check-label" for="inlineRadio3">Dinheiro</label>
							</div>
						</div>
						<div class="form-group">
							<h5>Parcelas[Exibir se for escolhido credito]</h5>
							<div class="input-group mb-3">
							  <span class="input-group-text" id="numberParcelas">Numero de Parcelas</span>
							  <input type="number" class="form-control" placeholder="1" min="1" max="12" aria-label="Numero de Parcelas" aria-describedby="numberParcelas">
							</div>
						</div>
					</form>
				</li>
			  </ul>

			  <div class="card-footer">
				<div class="d-flex justify-content-end">
					<div>
						<h6>Valor da Compra</h6>
						<p class="m-0">R$ 00.000</p>
					</div>
				</div>
			  </div>
			</div>
		</div>

		<div class="col-4">
			<div class="card">
				<div class="card-header">
					Detalhes da Compra
				</div>
				<div class="card-body">
					<h6>Evento</h6>
					<p>@Model.Event.Title</p>

					<h6>Número do Protocolo</h6>
					<p>XXXXX</p>

					<h6>Total da Compra</h6>
					<small class="text-muted">Valor acrescido da taxa de serviço de 5%</small>
					<p>R$ 00.000</p>
					

					<h6>Metodo de Pagamento selecionado</h6>
					<small class="text-muted">[Exibir se for escolhido credito]Parcelado em X vezes</small>
					<p>XXX</p>

					<h6>Data da Compra</h6>
					<p>xx/xx/xxxx</p>

					<button type="button" class="btn btn-primary">Confirmar Compra</button>
					<a class="btn btn-outline-danger" asp-area="" asp-controller="Events" asp-action="Index">Cancelar</a>
				 </div>
				 <div class="card-footer text-muted">
					Após a compra não é possível fazer o cancelamento.
				</div>
			</div>
		</div>
	</div>
</div>
