@model IEnumerable<SiGEv.Models.Event>

@{
    ViewData["Title"] = "Eventos";
}

<h1>@ViewData["Title"]</h1>
<p>Seleção de eventos</p>

<table class="table table-striped table-hover">
    <thead class="bg-secondary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue.Adress)
            </th>
			 <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
			<th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(x => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(x => item.Venue.Adress)
                </td>
				<td>
                    @Html.DisplayFor(x => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(x => item.Date)
                </td>
				<td>
					<a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    <a asp-action="Buy" asp-route-id="@item.Id">Comprar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
